* {
    margin: 0;
    padding: 0;
}

.dark-color {
    color: #585858;
}

.accent-font {
    color: #fff;
    font-family: Montserrat;
}

/* .text-d-n {
    text-decoration: none;
}

.list .list-item a,
.list2 .list-item a {
    color: red;
    font-size: 30px;
}
.list .list-item a:hover,
.list2 .list-item a:hover{
    text-decoration: underline;
    color: #fff;
}

.subtitle {
    text-decoration: overline;
    color: #fff;
} */

/* .list {
    list-style: none;
} */

/* .list .list-item a {
    text-decoration: none;
} */

/* =====list 2 block===== */

.header-container {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-title-container {
    width: 70%;
    padding-top: 528px;
    padding-left: 224px;
    padding-bottom: 149px;
}

.main-title {
    font-family: Montserrat;
    font-size: 48px;
    text-transform: uppercase;
}

.main-subtitle {
    font-family: Lato;
    font-size: 18px;
}

.main-title--description {
    width: 833px;
    height: 131px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #e3e3e3;
}

.main-title--description h2 {
    text-transform: uppercase;
    font-size: 54px;
    text-align: center;
    line-height: 131px;
}
.main-title--description h2 span {
    color: #F48E0B;
    border-right: 2px solid #F48E0B;
    height: 100%;
    /* border-right-color: #F48E0B; */
}